.snk-titulo-p {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-black);
  margin-top: 75px;
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--color-black);
}


.snk-catalogo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 30px;
}

.snk-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 180px;
  height: 220px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #C9C9C9;
  transition: scale .2s;
}

.snk-items:hover {
  scale: .95;
}

.snk-items img {
  max-width: 150px;
  margin-bottom: 20px;
  align-self: center;
}

.snk-titulo {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-black);
}

.snk-sub-titulo {
  font-size: 1rem;
  font-weight: 400;
  color: #4D4D4D;
  margin-bottom: 10px;
}

.snk-preco {
  /* position: absolute;
  top: 302px;
  left: 30px; */
  max-width: 80px;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 1550px) {
  .snk-titulo-p {
    justify-content: center;
  }
  .snk-catalogo {
    justify-content: center;
    align-items: center;
  }
}